.kp-wizard {
  background: white;
  display: inline-block;

  .kp-wizard-row {
    display: inline-flex;
    overflow: hidden;
    background: inherit;
    padding: 0 0 10px 0;
    //border: 1px solid red;

    .kp-wizard-row-elem {
      display: flex;
      justify-content: center;
      align-items: center;
      background: inherit;

      .kp-wizard-control {
        padding: 0;
        border: none;
        display: inline-block;
        border-radius: 4px;
        box-shadow: 0 4px 0 #c5376d, 0 6px 10px rgba(0, 0, 0, .3);
        font-size: 1rem;
        color: #fff;
        outline: none;
        background: inherit;

        span {
          display: inline-block;
          padding: 5px 8px;
          background-color: #ec528d;
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
          background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
          background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
          background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
          border-radius: 4px;
          box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
          font-family: 'Pacifico', Arial, sans-serif;
          line-height: 1;
          text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
          transition: background-color .2s ease-in-out, transform .1s ease-in-out;
        }

        &:hover span {
          background-color: #ec6a9c;
          text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
        }

        &:active span {
          transform: translate(0, 3px);
        }
        
        &:disabled span {
          background: #969696;
        }

        &:disabled {
          box-shadow: 0 4px 0 #666, 0 6px 10px rgba(0, 0, 0, .3);
        }
      }

      .kp-wizard-template {
        box-sizing: border-box;
        padding: 5px;
        background: inherit;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          box-sizing: border-box;
        }
      }
    }
  }
}