<div class="kp-wizard">
  <div class="kp-wizard-row" kpRow
       [width]="maxSwitchWidth$.asObservable()"
       [animateOptions]="animateOptions"
       [autoResponsive]="autoResponsive"
       [startAnimation]="startAnimation$.asObservable()">
    <div *ngFor="let item of itemTemplateElements.toArray(); let i = index" class="kp-wizard-row-elem" kpItem [_index]="i">
      <div class="kp-wizard-template" kpElement [item]="item" [width$]="maxTemplateWidth$.asObservable()"></div>
      <button class="" kpControl [index]="i" [source]="item" [controlStyle]="controlStyle" [switchName]="name">
        <span>
          <fa-icon *ngIf="item.isIcon; else text" [icon]="item.control"></fa-icon>
          <ng-template #text>{{item.control}}</ng-template>
        </span>
      </button>
    </div>
  </div>
  <div *ngIf="false">
    <ng-content select="[kpItemTemplate]"></ng-content>
  </div>
</div>