<div class="container">
  <form action="" [formGroup]="form">
    <kp-wizard-switch
        (onStartAnimation)="onStart()"
        (onEndAnimation)="onEnd()"
        [name]="'first'"
        [uniformWidth]="false"
        [autoResponsive]="false"
        [animateOptions]="{duration: '1s', delay: '300ms'}">
      <a type="text" href="http://google.com" [kpItemTemplate]="'coffee'" [control]="faCoffee">Click me</a>
      <input type="text" placeholder="login" [kpItemTemplate]="'login'" [control]="'Login'" formControlName="login">
      <input type="text" placeholder="password" [kpItemTemplate]="'password'" [control]="'Password'" formControlName="password">
      <div [kpItemTemplate]="'gender'" [control]="'Gender'" [disabled]="true">
        <label for="man">
          <span>Man</span>
          <input id="man" type="radio" name="gender" value="man" formControlName="gender">
        </label>
        <label for="woman">
          <span>Woman</span>
          <input id="woman" type="radio" name="gender" value="woman" formControlName="gender">
        </label>
      </div>
      <textarea name="description" id="" cols="30" rows="3" [kpItemTemplate]="'secret'" [control]="'desc'"></textarea>
    </kp-wizard-switch>
  </form>
</div>

<div>
  <button (click)="changeDisabled()">Disable login</button>
  <button (click)="disableAll()">Disable all</button>
  <button (click)="enableAll()">Enable all</button>
</div>

<div>
  <button (click)="trigger()">Login trigger</button>
  <button (click)="closeAll()">Close all</button>
  <button (click)="openFirst()">Open first</button>
  <button (click)="openLast()">Open last</button>
  <button (click)="openNext()">Open next</button>
  <button (click)="openPrev()">Open prev</button>
</div>

<p>Event: {{ eventName }}</p>

<p *ngIf="form.controls['login']">Login: {{form.controls['login'].value}}</p>
<p *ngIf="form.controls['password']">Password: {{form.controls['password'].value}}</p>
<p *ngIf="form.controls['gender']">Gender: {{form.controls['gender'].value}}</p>

<div class="container">
  <form action="" [formGroup]="form">
    <kp-wizard-switch
        (onStartAnimation)="onStart()"
        (onEndAnimation)="onEnd()"
        [name]="'second'"
        [uniformWidth]="false"
        [autoResponsive]="false"
        [animateOptions]="{duration: '1s', delay: '300ms'}">
      <a type="text" href="http://google.com" [kpItemTemplate]="'coffee'" [control]="faCoffee">Click me</a>
      <input type="text" placeholder="login" [kpItemTemplate]="'login'" [control]="'Login'" formControlName="login">
      <input type="text" placeholder="password" [kpItemTemplate]="'password'" [control]="'Password'" formControlName="password">
      <div [kpItemTemplate]="'gender'" [control]="'Gender'" [disabled]="true">
        <label for="man">
          <span>Man</span>
          <input id="man" type="radio" name="gender" value="man" formControlName="gender">
        </label>
        <label for="woman">
          <span>Woman</span>
          <input id="woman" type="radio" name="gender" value="woman" formControlName="gender">
        </label>
      </div>
      <textarea name="description" id="" cols="30" rows="3" [kpItemTemplate]="'secret'" [control]="'desc'"></textarea>
    </kp-wizard-switch>
  </form>
</div>

<div class="container">
  <form action="" [formGroup]="form">
    <kp-wizard-switch
        (onStartAnimation)="onStart()"
        (onEndAnimation)="onEnd()"
        [name]="'third'"
        [uniformWidth]="false"
        [autoResponsive]="false"
        [animateOptions]="{duration: '1s', delay: '300ms'}">
      <a type="text" href="http://google.com" [kpItemTemplate]="'coffee'" [control]="faCoffee">Click me</a>
      <input type="text" placeholder="login" [kpItemTemplate]="'login'" [control]="'Login'" formControlName="login">
      <input type="text" placeholder="password" [kpItemTemplate]="'password'" [control]="'Password'" formControlName="password">
      <div [kpItemTemplate]="'gender'" [control]="'Gender'" [disabled]="true">
        <label for="man">
          <span>Man</span>
          <input id="man" type="radio" name="gender" value="man" formControlName="gender">
        </label>
        <label for="woman">
          <span>Woman</span>
          <input id="woman" type="radio" name="gender" value="woman" formControlName="gender">
        </label>
      </div>
      <textarea name="description" id="" cols="30" rows="3" [kpItemTemplate]="'secret'" [control]="'desc'"></textarea>
    </kp-wizard-switch>
  </form>
</div>
