.container {
  ::ng-deep {
    .kp-wizard-template {
      input {
        border: none;
        border-bottom: 3px solid rebeccapurple;
      }
    }

    .my-class {
      background: green !important;
      &:disabled {
        background: #8e8e8e !important;
      }
    }
  }
}